[Unit]
Description=Stash RSS/Atom feed data into InfluxDB for visualization in Grafana

[Service]
ExecStart=/usr/local/bin/rss-influxdb \
    -feed https://status.cloud.google.com/feed.atom \
    -feed http://status.aws.amazon.com/rss/cloudfront.rss
    -time 10000
